{:source-paths ["src"]

 :dependencies [[binaryage/devtools "1.0.4"]
                [reagent/reagent "1.1.0"]
                [reagent-utils "0.3.4"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:init-fn app.core/main
          :entries [app.core]}}

        :devtools
        {:http-root   "public"
         :http-port   8080}

        :release {:output-dir "docs/js"}}}}
